= permit.file_number
= permit.api_number
= permit.operator_name
= permit.township
= permit.township_bearing
= permit.range
= permit.range_bearing
= permit.section
= permit.state
= permit.field_name
= permit.effective_on
= permit.action_type
= permit.slant
%br

